OCPPDemo/WebContent/wsdl/ChargePointServiceSoap12.wsdl

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--
OCPP Charge Point service description
Version 1.5 draft for approval (1.5 RC4)

Copyright e-laad.nl. Free to use without modifications.

See: http://ev-services.net/ocpp/
--><wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn://Ocpp/Cp/2012/06/" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn://Ocpp/Cp/2012/06/">

  <wsp:Policy wsu:Id="ServicePolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn://Ocpp/Cp/2012/06/">

      <!-- Begin of types shared with CentralSystemService -->
      <s:simpleType name="IdToken">
        <s:annotation>
          <s:documentation>Type of string defining identification token, e.g. RFID or credit card number. To be treated as case insensitive.</s:documentation>
        </s:annotation>
        <s:restriction base="s:string">
          <s:maxLength value="20"/>
        </s:restriction>
      </s:simpleType>

      <s:simpleType name="AuthorizationStatus">
        <s:annotation>
          <s:documentation>Defines the authorization-status-value</s:documentation>
        </s:annotation>
        <s:restriction base="s:string">
          <s:enumeration value="Accepted"/>
          <s:enumeration value="Blocked"/>
          <s:enumeration value="Expired"/>
          <s:enumeration value="Invalid"/>
          <s:enumeration value="ConcurrentTx"/>
        </s:restriction>
      </s:simpleType>

      <s:complexType name="IdTagInfo">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="status" type="tns:AuthorizationStatus"/>
          <s:element maxOccurs="1" minOccurs="0" name="expiryDate" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="0" name="parentIdTag" type="tns:IdToken"/>
        </s:sequence>
      </s:complexType>
      <!-- End of types shared with CentralSystemService -->

      <s:simpleType name="UnlockStatus">
        <s:annotation>
          <s:documentation>Defines the unlock-status-value</s:documentation>
        </s:annotation>
        <s:restriction base="s:string">
          <s:enumeration value="Accepted"/>
          <s:enumeration value="Rejected"/>
        </s:restriction>
      </s:simpleType>

      <s:complexType name="UnlockConnectorRequest">
        <s:annotation>
          <s:documentation>Defines the UnlockConnector.req PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="connectorId" type="s:int"/>
        </s:sequence>
      </s:complexType>

      <s:complexType name="UnlockConnectorResponse">
        <s:annotation>
          <s:documentation>Defines the UnlockConnector.conf PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="status" type="tns:UnlockStatus"/>
        </s:sequence>
      </s:complexType>

      <s:simpleType name="ResetType">
        <s:annotation>
          <s:documentation>Defines the reset-type-value</s:documentation>
        </s:annotation>
        <s:restriction base="s:string">
          <s:enumeration value="Hard"/>
          <s:enumeration value="Soft"/>
        </s:restriction>
      </s:simpleType>

      <s:complexType name="ResetRequest">
        <s:annotation>
          <s:documentation>Defines the Reset.req PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="type" type="tns:ResetType"/>
        </s:sequence>
      </s:complexType>

      <s:simpleType name="ResetStatus">
        <s:annotation>
          <s:documentation>Defines the reset-status-value</s:documentation>
        </s:annotation>
        <s:restriction base="s:string">
          <s:enumeration value="Accepted"/>
          <s:enumeration value="Rejected"/>
        </s:restriction>
      </s:simpleType>

      <s:complexType name="ResetResponse">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="status" type="tns:ResetStatus"/>
        </s:sequence>
      </s:complexType>

      <s:simpleType name="AvailabilityType">
        <s:annotation>
          <s:documentation>Defines the availability-type-value</s:documentation>
        </s:annotation>
        <s:restriction base="s:string">
          <s:enumeration value="Inoperative"/>
          <s:enumeration value="Operative"/>
        </s:restriction>
      </s:simpleType>
      
      <s:complexType name="ChangeAvailabilityRequest">
        <s:annotation>
          <s:documentation>Defines the ChangeAvailability.req PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="connectorId" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="type" type="tns:AvailabilityType"/>
        </s:sequence>
      </s:complexType>

      <s:simpleType name="AvailabilityStatus">
        <s:annotation>
          <s:documentation>Defines the availability-status-value</s:documentation>
        </s:annotation>
        <s:restriction base="s:string">
          <s:enumeration value="Accepted"/>
          <s:enumeration value="Rejected"/>
          <s:enumeration value="Scheduled"/>
        </s:restriction>
      </s:simpleType>

      <s:complexType name="ChangeAvailabilityResponse">
        <s:annotation>
          <s:documentation>Defines the ChangeAvailability.conf PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="status" type="tns:AvailabilityStatus"/>
        </s:sequence>
      </s:complexType>

      <s:complexType name="GetDiagnosticsRequest">
        <s:annotation>
          <s:documentation>Defines the GetDiagnostics.req PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="location" type="s:anyURI"/>
          <s:element maxOccurs="1" minOccurs="0" name="startTime" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="0" name="stopTime" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="0" name="retries" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="0" name="retryInterval" type="s:int"/>
        </s:sequence>
      </s:complexType>

      <s:complexType name="GetDiagnosticsResponse">
        <s:annotation>
          <s:documentation>Defines the GetDiagnostics.conf PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="fileName" type="s:string"/>
        </s:sequence>
      </s:complexType>

      <s:complexType name="ClearCacheRequest">
        <s:annotation>
          <s:documentation>Defines the ClearCache.req PDU</s:documentation>
        </s:annotation>
      </s:complexType>

      <s:simpleType name="ClearCacheStatus">
        <s:annotation>
          <s:documentation>Defines the clear-cache-status-value</s:documentation>
        </s:annotation>
        <s:restriction base="s:string">
          <s:enumeration value="Accepted"/>
          <s:enumeration value="Rejected"/>
        </s:restriction>
      </s:simpleType>
      
      <s:complexType name="ClearCacheResponse">
        <s:annotation>
          <s:documentation>Defines the ClearCache.conf PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="status" type="tns:ClearCacheStatus"/>
        </s:sequence>
      </s:complexType>

      <s:complexType name="UpdateFirmwareRequest">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="retrieveDate" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="location" type="s:anyURI"/>
          <s:element maxOccurs="1" minOccurs="0" name="retries" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="0" name="retryInterval" type="s:int"/>
        </s:sequence>
      </s:complexType>

      <s:complexType name="UpdateFirmwareResponse">
      </s:complexType>

      <s:complexType name="ChangeConfigurationRequest">
        <s:annotation>
          <s:documentation>Defines the ChangeConfiguration.req PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="key" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="value" type="s:string"/>
        </s:sequence>
      </s:complexType>

      <s:simpleType name="ConfigurationStatus">
        <s:annotation>
          <s:documentation>Defines the configuration-status-value</s:documentation>
        </s:annotation>
        <s:restriction base="s:string">
          <s:enumeration value="Accepted"/>
          <s:enumeration value="Rejected"/>
          <s:enumeration value="NotSupported"/>
        </s:restriction>
      </s:simpleType>
      
      <s:complexType name="ChangeConfigurationResponse">
        <s:annotation>
          <s:documentation>Defines the ChangeConfiguration.conf PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="status" type="tns:ConfigurationStatus"/>
        </s:sequence>
      </s:complexType>

      <s:complexType name="RemoteStartTransactionRequest">
        <s:annotation>
          <s:documentation>Defines the RemoteStartTransaction.req PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="idTag" type="tns:IdToken"/>
          <s:element maxOccurs="1" minOccurs="0" name="connectorId" type="s:int"/>
        </s:sequence>
      </s:complexType>

      <s:simpleType name="RemoteStartStopStatus">
        <s:annotation>
          <s:documentation>Defines the remote-start-stop-status-value</s:documentation>
        </s:annotation>
        <s:restriction base="s:string">
          <s:enumeration value="Accepted"/>
          <s:enumeration value="Rejected"/>
        </s:restriction>
      </s:simpleType>
      
      <s:complexType name="RemoteStartTransactionResponse">
        <s:annotation>
          <s:documentation>Defines the RemoteStartTransaction.conf PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="status" type="tns:RemoteStartStopStatus"/>
        </s:sequence>
      </s:complexType>

      <s:complexType name="RemoteStopTransactionRequest">
        <s:annotation>
          <s:documentation>Defines the RemoteStopTransaction.req PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="transactionId" type="s:int"/>
        </s:sequence>
      </s:complexType>

      <s:complexType name="RemoteStopTransactionResponse">
        <s:annotation>
          <s:documentation>Defines the RemoteStopTransaction.conf PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="status" type="tns:RemoteStartStopStatus"/>
        </s:sequence>
      </s:complexType>

      <s:complexType name="CancelReservationRequest">
        <s:annotation>
          <s:documentation>Defines the CancelReservation.req PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="reservationId" type="s:int"/>
        </s:sequence>
      </s:complexType>

      <s:simpleType name="CancelReservationStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Accepted"/>
          <s:enumeration value="Rejected"/>
        </s:restriction>
      </s:simpleType>

      <s:complexType name="CancelReservationResponse">
        <s:annotation>
          <s:documentation>Defines the CancelReservation.conf PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="status" type="tns:CancelReservationStatus"/>
        </s:sequence>
      </s:complexType>

      <s:complexType name="DataTransferRequest">
        <s:annotation>
          <s:documentation>Defines the DataTransfer.req PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="vendorId" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="messageId" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="data" type="s:string"/>
        </s:sequence>
      </s:complexType>

      <s:simpleType name="DataTransferStatus">
        <s:annotation>
          <s:documentation>Defines the status returned in DataTransfer.conf</s:documentation>
        </s:annotation>
        <s:restriction base="s:string">
          <s:enumeration value="Accepted"/>
          <s:enumeration value="Rejected"/>
          <s:enumeration value="UnknownMessageId"/>
          <s:enumeration value="UnknownVendorId"/>
        </s:restriction>
      </s:simpleType>

      <s:complexType name="DataTransferResponse">
        <s:annotation>
          <s:documentation>Defines the DataTransfer.conf PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="status" type="tns:DataTransferStatus"/>
          <s:element maxOccurs="1" minOccurs="0" name="data" type="s:string"/>
        </s:sequence>
      </s:complexType>

      <s:complexType name="GetConfigurationRequest">
        <s:annotation>
          <s:documentation>Defines the GetConfiguration.req PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="key" type="s:string"/>
        </s:sequence>
      </s:complexType>

      <s:complexType name="KeyValue">
        <s:annotation>
          <s:documentation>Key-Value pairs returned by GetConfiguration.conf PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="key" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="readonly" type="s:boolean"/>
          <s:element maxOccurs="1" minOccurs="0" name="value" type="s:string"/>
        </s:sequence>
      </s:complexType>

      <s:complexType name="GetConfigurationResponse">
        <s:annotation>
          <s:documentation>Defines the GetConfiguration.req PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="configurationKey" type="tns:KeyValue"/>
          <s:element maxOccurs="unbounded" minOccurs="0" name="unknownKey" type="s:string"/>
        </s:sequence>
      </s:complexType>

      <s:complexType name="GetLocalListVersionRequest">
        <s:annotation>
          <s:documentation>Defines the GetLocalListVersion.req PDU</s:documentation>
        </s:annotation>
      </s:complexType>

      <s:complexType name="GetLocalListVersionResponse">
        <s:annotation>
          <s:documentation>Defines the GetLocalListVersion.conf PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="listVersion" type="s:int"/>
        </s:sequence>
      </s:complexType>

      <s:complexType name="ReserveNowRequest">
        <s:annotation>
          <s:documentation>Defines the ReserveNow.req PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="connectorId" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="expiryDate" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="idTag" type="tns:IdToken"/>
          <s:element maxOccurs="1" minOccurs="0" name="parentIdTag" type="tns:IdToken"/>
          <s:element maxOccurs="1" minOccurs="1" name="reservationId" type="s:int"/>
        </s:sequence>
      </s:complexType>

      <s:simpleType name="ReservationStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Accepted"/>
          <s:enumeration value="Faulted"/>
          <s:enumeration value="Occupied"/>
          <s:enumeration value="Rejected"/>
          <s:enumeration value="Unavailable"/>
        </s:restriction>
      </s:simpleType>
      
      <s:complexType name="ReserveNowResponse">
        <s:annotation>
          <s:documentation>Defines the ReserveNow.conf PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="status" type="tns:ReservationStatus"/>
        </s:sequence>
      </s:complexType>

      <s:complexType name="AuthorisationData">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="idTag" type="tns:IdToken"/>
          <s:element maxOccurs="1" minOccurs="0" name="idTagInfo" type="tns:IdTagInfo"/>
        </s:sequence>
      </s:complexType>
      
      <s:simpleType name="UpdateType">
        <s:restriction base="s:string">
          <s:enumeration value="Differential"/>
          <s:enumeration value="Full"/>
        </s:restriction>
      </s:simpleType>

      <s:complexType name="SendLocalListRequest">
        <s:annotation>
          <s:documentation>Defines the SendLocalList.req PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="updateType" type="tns:UpdateType"/>
          <s:element maxOccurs="1" minOccurs="1" name="listVersion" type="s:int"/>
          <s:element maxOccurs="unbounded" minOccurs="0" name="localAuthorisationList" type="tns:AuthorisationData"/>
          <s:element maxOccurs="1" minOccurs="0" name="hash" type="s:string"/>
        </s:sequence>
      </s:complexType>

      <s:simpleType name="UpdateStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Accepted"/>
          <s:enumeration value="Failed"/>
          <s:enumeration value="HashError"/>
          <s:enumeration value="NotSupported"/>
          <s:enumeration value="VersionMismatch"/>
        </s:restriction>
      </s:simpleType>

      <s:complexType name="SendLocalListResponse">
        <s:annotation>
          <s:documentation>Defines the SendLocalList.conf PDU</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="status" type="tns:UpdateStatus"/>
          <s:element maxOccurs="1" minOccurs="0" name="hash" type="s:string"/>
        </s:sequence>
      </s:complexType>
      
      <s:element name="chargeBoxIdentity" type="s:string"/>
      <s:element name="unlockConnectorRequest" type="tns:UnlockConnectorRequest"/>
      <s:element name="unlockConnectorResponse" type="tns:UnlockConnectorResponse"/>
      <s:element name="resetRequest" type="tns:ResetRequest"/>
      <s:element name="resetResponse" type="tns:ResetResponse"/>
      <s:element name="changeAvailabilityRequest" type="tns:ChangeAvailabilityRequest"/>
      <s:element name="changeAvailabilityResponse" type="tns:ChangeAvailabilityResponse"/>
      <s:element name="getDiagnosticsRequest" type="tns:GetDiagnosticsRequest"/>
      <s:element name="getDiagnosticsResponse" type="tns:GetDiagnosticsResponse"/>
      <s:element name="clearCacheRequest" type="tns:ClearCacheRequest"/>
      <s:element name="clearCacheResponse" type="tns:ClearCacheResponse"/>
      <s:element name="updateFirmwareRequest" type="tns:UpdateFirmwareRequest"/>
      <s:element name="updateFirmwareResponse" type="tns:UpdateFirmwareResponse"/>
      <s:element name="changeConfigurationRequest" type="tns:ChangeConfigurationRequest"/>
      <s:element name="changeConfigurationResponse" type="tns:ChangeConfigurationResponse"/>
      <s:element name="remoteStartTransactionRequest" type="tns:RemoteStartTransactionRequest"/>
      <s:element name="remoteStartTransactionResponse" type="tns:RemoteStartTransactionResponse"/>
      <s:element name="remoteStopTransactionRequest" type="tns:RemoteStopTransactionRequest"/>
      <s:element name="remoteStopTransactionResponse" type="tns:RemoteStopTransactionResponse"/>
      <s:element name="cancelReservationRequest" type="tns:CancelReservationRequest"/>
      <s:element name="cancelReservationResponse" type="tns:CancelReservationResponse"/>
      <s:element name="dataTransferRequest" type="tns:DataTransferRequest"/>
      <s:element name="dataTransferResponse" type="tns:DataTransferResponse"/>
      <s:element name="getConfigurationRequest" type="tns:GetConfigurationRequest"/>
      <s:element name="getConfigurationResponse" type="tns:GetConfigurationResponse"/>
      <s:element name="getLocalListVersionRequest" type="tns:GetLocalListVersionRequest"/>
      <s:element name="getLocalListVersionResponse" type="tns:GetLocalListVersionResponse"/>
      <s:element name="reserveNowRequest" type="tns:ReserveNowRequest"/>
      <s:element name="reserveNowResponse" type="tns:ReserveNowResponse"/>
      <s:element name="sendLocalListRequest" type="tns:SendLocalListRequest"/>
      <s:element name="sendLocalListResponse" type="tns:SendLocalListResponse"/>
    </s:schema>
  </wsdl:types>

  <wsdl:message name="Header">
    <wsdl:part element="tns:chargeBoxIdentity" name="ChargeBoxIdentity"/>
  </wsdl:message>

  <wsdl:message name="UnlockConnectorInput">
    <wsdl:part element="tns:unlockConnectorRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="UnlockConnectorOutput">
    <wsdl:part element="tns:unlockConnectorResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="ResetInput">
    <wsdl:part element="tns:resetRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="ResetOutput">
    <wsdl:part element="tns:resetResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="ChangeAvailabilityInput">
    <wsdl:part element="tns:changeAvailabilityRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="ChangeAvailabilityOutput">
    <wsdl:part element="tns:changeAvailabilityResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="GetDiagnosticsInput">
    <wsdl:part element="tns:getDiagnosticsRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="GetDiagnosticsOutput">
    <wsdl:part element="tns:getDiagnosticsResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="ClearCacheInput">
    <wsdl:part element="tns:clearCacheRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="ClearCacheOutput">
    <wsdl:part element="tns:clearCacheResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="UpdateFirmwareInput">
    <wsdl:part element="tns:updateFirmwareRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="UpdateFirmwareOutput">
    <wsdl:part element="tns:updateFirmwareResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="ChangeConfigurationInput">
    <wsdl:part element="tns:changeConfigurationRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="ChangeConfigurationOutput">
    <wsdl:part element="tns:changeConfigurationResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="RemoteStartTransactionInput">
    <wsdl:part element="tns:remoteStartTransactionRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="RemoteStartTransactionOutput">
    <wsdl:part element="tns:remoteStartTransactionResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="RemoteStopTransactionInput">
    <wsdl:part element="tns:remoteStopTransactionRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="RemoteStopTransactionOutput">
    <wsdl:part element="tns:remoteStopTransactionResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="CancelReservationInput">
    <wsdl:part element="tns:cancelReservationRequest" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="CancelReservationOutput">
    <wsdl:part element="tns:cancelReservationResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="DataTransferInput">
    <wsdl:part element="tns:dataTransferRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="DataTransferOutput">
    <wsdl:part element="tns:dataTransferResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="GetConfigurationInput">
    <wsdl:part element="tns:getConfigurationRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="GetConfigurationOutput">
    <wsdl:part element="tns:getConfigurationResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="GetLocalListVersionInput">
    <wsdl:part element="tns:getLocalListVersionRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="GetLocalListVersionOutput">
    <wsdl:part element="tns:getLocalListVersionResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="ReserveNowInput">
    <wsdl:part element="tns:reserveNowRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="ReserveNowOutput">
    <wsdl:part element="tns:reserveNowResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="SendLocalListInput">
    <wsdl:part element="tns:sendLocalListRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="SendLocalListOutput">
    <wsdl:part element="tns:sendLocalListResponse" name="parameters"/>
  </wsdl:message>
   
  <wsdl:portType name="ChargePointService">

    <wsdl:operation name="UnlockConnector">
      <wsdl:input message="tns:UnlockConnectorInput" wsaw:Action="/UnlockConnector"/>
      <wsdl:output message="tns:UnlockConnectorOutput" wsaw:Action="/UnlockConnectorResponse"/>
    </wsdl:operation>

    <wsdl:operation name="Reset">
      <wsdl:input message="tns:ResetInput" wsaw:Action="/Reset"/>
      <wsdl:output message="tns:ResetOutput" wsaw:Action="/ResetResponse"/>
    </wsdl:operation>

    <wsdl:operation name="ChangeAvailability">
      <wsdl:input message="tns:ChangeAvailabilityInput" wsaw:Action="/ChangeAvailability"/>
      <wsdl:output message="tns:ChangeAvailabilityOutput" wsaw:Action="/ChangeAvailabilityResponse"/>
    </wsdl:operation>

    <wsdl:operation name="GetDiagnostics">
      <wsdl:input message="tns:GetDiagnosticsInput" wsaw:Action="/GetDiagnostics"/>
      <wsdl:output message="tns:GetDiagnosticsOutput" wsaw:Action="/GetDiagnosticsResponse"/>
    </wsdl:operation>

    <wsdl:operation name="ClearCache">
      <wsdl:input message="tns:ClearCacheInput" wsaw:Action="/ClearCache"/>
      <wsdl:output message="tns:ClearCacheOutput" wsaw:Action="/ClearCacheResponse"/>
    </wsdl:operation>

    <wsdl:operation name="UpdateFirmware">
      <wsdl:input message="tns:UpdateFirmwareInput" wsaw:Action="/UpdateFirmware"/>
      <wsdl:output message="tns:UpdateFirmwareOutput" wsaw:Action="/UpdateFirmwareResponse"/>
    </wsdl:operation>

    <wsdl:operation name="ChangeConfiguration">
      <wsdl:input message="tns:ChangeConfigurationInput" wsaw:Action="/ChangeConfiguration"/>
      <wsdl:output message="tns:ChangeConfigurationOutput" wsaw:Action="/ChangeConfigurationResponse"/>
    </wsdl:operation>

    <wsdl:operation name="RemoteStartTransaction">
      <wsdl:input message="tns:RemoteStartTransactionInput" wsaw:Action="/RemoteStartTransaction"/>
      <wsdl:output message="tns:RemoteStartTransactionOutput" wsaw:Action="/RemoteStartTransactionResponse"/>
    </wsdl:operation>

    <wsdl:operation name="RemoteStopTransaction">
      <wsdl:input message="tns:RemoteStopTransactionInput" wsaw:Action="/RemoteStopTransaction"/>
      <wsdl:output message="tns:RemoteStopTransactionOutput" wsaw:Action="/RemoteStopTransactionResponse"/>
    </wsdl:operation>

    <wsdl:operation name="CancelReservation">
      <wsdl:input message="tns:CancelReservationInput" wsaw:Action="/CancelReservation"/>
      <wsdl:output message="tns:CancelReservationOutput" wsaw:Action="/CancelReservationResponse"/>
    </wsdl:operation>

    <wsdl:operation name="DataTransfer">
      <wsdl:input message="tns:DataTransferInput" wsaw:Action="/DataTransfer"/>
      <wsdl:output message="tns:DataTransferOutput" wsaw:Action="/DataTransferResponse"/>
    </wsdl:operation>

    <wsdl:operation name="GetConfiguration">
      <wsdl:input message="tns:GetConfigurationInput" wsaw:Action="/GetConfiguration"/>
      <wsdl:output message="tns:GetConfigurationOutput" wsaw:Action="/GetConfigurationResponse"/>
    </wsdl:operation>

    <wsdl:operation name="GetLocalListVersion">
      <wsdl:input message="tns:GetLocalListVersionInput" wsaw:Action="/GetLocalListVersion"/>
      <wsdl:output message="tns:GetLocalListVersionOutput" wsaw:Action="/GetLocalListVersionResponse"/>
    </wsdl:operation>

    <wsdl:operation name="ReserveNow">
      <wsdl:input message="tns:ReserveNowInput" wsaw:Action="/ReserveNow"/>
      <wsdl:output message="tns:ReserveNowOutput" wsaw:Action="/ReserveNowResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="SendLocalList">
      <wsdl:input message="tns:SendLocalListInput" wsaw:Action="/SendLocalList"/>
      <wsdl:output message="tns:SendLocalListOutput" wsaw:Action="/SendLocalListResponse"/>
    </wsdl:operation>
       
  </wsdl:portType>

  <wsdl:binding name="ChargePointServiceSoap" type="tns:ChargePointService">

    <wsp:PolicyReference URI="#ServicePolicy"/>
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="UnlockConnector">
      <soap12:operation soapAction="/UnlockConnector" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Reset">
      <soap12:operation soapAction="/Reset" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="ChangeAvailability">
      <soap12:operation soapAction="/ChangeAvailability" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
         <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetDiagnostics">
      <soap12:operation soapAction="/GetDiagnostics" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ClearCache">
      <soap12:operation soapAction="/ClearCache" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="UpdateFirmware">
      <soap12:operation soapAction="/UpdateFirmware" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="ChangeConfiguration">
      <soap12:operation soapAction="/ChangeConfiguration" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="RemoteStartTransaction">
      <soap12:operation soapAction="/RemoteStartTransaction" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="RemoteStopTransaction">
      <soap12:operation soapAction="/RemoteStopTransaction" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="CancelReservation">
      <soap12:operation soapAction="/CancelReservation" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DataTransfer">
      <soap12:operation soapAction="/DataTransfer" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetConfiguration">
      <soap12:operation soapAction="/GetConfiguration" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetLocalListVersion">
      <soap12:operation soapAction="/GetLocalListVersion" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ReserveNow">
      <soap12:operation soapAction="/ReserveNow" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SendLocalList">
      <soap12:operation soapAction="/SendLocalList" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>
  

  <!-- The OCPP ChargePoint service -->
  <wsdl:service name="ChargePointService">
    <wsdl:documentation>The ChargePoint Service for the Open Charge Point Protocol</wsdl:documentation>
    <wsdl:port binding="tns:ChargePointServiceSoap" name="ChargePointServiceSoap12">
      <soap12:address location="http://localhost/Ocpp/ChargePointService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
